.checkoutProduct {
    display: flex;
    flex-direction: row;
    margin: 50px 0 0 20px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    padding: 12px;
    max-width: 800px;
    justify-content: space-between;
}

.checkoutProduct__left > img {
    height: 150px;
    width: 150px;
}

.checkoutProduct__mid {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 20px 0 20px;
}

.checkoutProduct__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.checkoutProduct__avail {
    color: green;
}

.checkoutProduct__unavail {
    color: red;
}

.checkoutProduct__price {
    justify-content: right;
}

.checkoutProduct__button {
    background-color: white;
    border: 1px solid #007bff;
    padding: 10px;
    color: #007bff;
    font-size: 15px;
    border-radius: 5px;
    width: 80px;
    margin: 0 10px 10px 0;
}

.checkoutProduct__button:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .checkoutProduct {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px auto 20px auto;
    }

    .checkoutProduct__button {
        margin: 0 auto 0 auto;
    }
}