.order {
    display: flex;
}

.order__address {
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: rgb(236, 236, 236);
    border: 2px solid gray;
    border-radius: 10px;
    margin: 30px auto 30px auto;
}

.order__block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.order__alert {
    flex-direction: column;
    position: fixed;
    width: 280px;
    height: 140px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(236, 236, 236);
    border: 2px solid gray;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.order__alert > p {
    margin: auto;
}

.order__alert__ok {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.order__alert__ok:hover {
    background-color: #026ada;
}

.order__address__error {
    display: none;
    color: red;
    font-weight: 600;
}

.order__address {
    display: flex;
    flex-direction: column;
}

.order__address > input {
    padding: 8px;
    margin: 10px 500px 10px 0;
    outline: none;
}

.order__address > input:focus {
    border: 1px solid #007bff;
    background-color: #e2f0ff;
}

.order__address > button {
    background-color: #007bff;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 50px;
}

.order__address > button:hover {
    background-color: #026ada;
}

.order__separator {
    background-color: #007bff;
    height: 2px;
    width: 100%;
    margin-bottom: 30px;
}

@media screen and (max-width: 850px) {
    .order__address > input {
        margin: 10px 0 10px 0;
    }
}