.subtotal__order {
    background-color: #007bff;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    margin: 0 20px 0 20px;
    margin-bottom: 30px;
}

.subtotal__order:hover {
    background-color: #026ada;
    cursor: pointer;
}

.subtotal {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 100px 0 100px;
}